//** variables
$background:black;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #3ba7ee;
$button-text-color: #fff;

body {
  overflow-x: hidden;
}

.root {
  color: $text;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 200;
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  background-color: $background;
}

a {
  color: inherit;

  &:hover {
    color: $button-bg-color;
  }
}

.section {
  width: 90vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  color: #f0f8ff;
  background: black;
  align-items: center;

  @media (max-width: 900px) {
    padding-top: 30px;
    padding-bottom: 40px;
    height: auto;
  }


  &_title {
    align-self: center;
    font-size: 100px;

    @media (max-width: 900px) {
      font-size: 60px;
    }

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 14px;
    height: 30vh;
    text-shadow: rgb(68, 154, 252) 0px 0px 10px;
  }

  &_container {
    width: 90%;
    display: flex;

    align-items: center;
    align-self: center;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    font-size: 2vw;

    @media (max-width: 900px) {
      flex-wrap: wrap;
      font-size: 2vh;
    }
  }

  &__content {
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeOut 1s ease-in;
    flex-direction: column;

    &_only-text {
      padding: 100px 0;
    }

    &-title {
      display: flex;
      letter-spacing: 2px;
      align-self: center;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 3vw;

      @media (max-width: 900px) {
        font-size: 3vh;
      }

      width: 100%;
      height: 30%;
    }

    &-text-content {
      width: 100%;
      height: 70%;
      display: flex;
    }

    &-text {
      display: flex;
      box-sizing: content-box;
      letter-spacing: 2px;
      text-align: center;
      vertical-align: center;
      margin: 8%;
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    min-width: 50%;
    min-height: 50%;

    &_main {
      overflow: hidden;
      margin: 0;
      border: 1px aliceblue solid;
      width: 80%;
      max-width: 2000px;
      & img {
        display:block;
      }
      box-sizing: border-box;
    }
  }
}

.form {
  letter-spacing: 1px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  font-size: 2vw;

  @media (max-width: 900px) {
    font-size: 2vh;
  }

  &__field {
    margin-top: 30px;
    align-self: center;
    height: 25px;
    width: 50%;
    max-width: 500px;
    background: #fff;
    color: $input-text-color;
    font-size: 1.5vw !important;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 12px 8px;

    @media (max-width: 900px) {
      padding: 0 3px;
      font-size: 1.5vh !important;
    }
  }
}

.btn {
  display: flex;
  width: 30%;
  max-width: 300px;
  align-self: center;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;

  &__text {
    display: flex;
    text-align: center;
    font-size: 2vw;
  }

  &--primary {
    color: $button-text-color;
    border-radius: 2px;
    border: aliceblue solid 1px;
    padding: 12px ;

    &:hover {
      background: darken($button-bg-color, 4%);
    }

    &:active {
      background: $button-bg-color;
      box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
    }
  }
}

.success {
  display: none;
}

body {
  margin: 0;
  cursor: default;
}

@keyframes fadeOut { /* flame pulses */
  0%   { opacity: 0 }
  25%   { opacity: 0.25 }
  50%  { opacity: 0.5 }
  75%  { opacity: 0.75 }
  100% { opacity: 1 }
}

@keyframes moveRight {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

.hidden {
  visibility: hidden;
}

.animated-block {
  &:nth-child(2n) {
    animation-name: moveRight;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, .5, .5, 1);
  }

  &:nth-child(2n + 1) {
    animation-name: moveLeft;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, .5, .5, 1);
  }
}

.footer {
  width: 80vw;
  height: 10vh;

  @media (max-width: 900px) {
    height: 5vh;
    padding: 10px 0;
  }

  border-top: rgba(77,79,86,0.83) solid 2px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;

  &__content {
    align-self: center;
    margin: 0;
    font-size: 1vw;

    @media (max-width: 900px) {
      font-size: 1vh;
    }

    width: 50%;
    text-align: center;
    padding-bottom: 10px;

    &_type_year {
      font-size: 0.7vw;

      @media (max-width: 900px) {
        font-size: 1vh;
      }
    }
  }
}
